/* icons */
.fa-solid,
.fa-regular {
  margin-right: 2px;
}

.svg-inline--fa {
  margin-right: 5px;
}

/* Shared */
.modal__modal_visible {
  display: list-item !important;
  opacity: 1 !important;
  position: fixed !important;
  background-color: #3c29297a !important;
  overflow-y: auto;
}

.cursor-pointer
{
  cursor: pointer;
}